section {
    padding: 1rem 0;
}

section ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

section ul li {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
    background-color: #323232;
    color: #EAEAEA;
    height: 60px;

    display: flex;
    align-items: center;
    padding: 0 1rem;
}



ul li span:nth-child(2) {
    width: 100%;
}

ul li span:nth-child(2).completed {
    text-decoration: line-through;
}

ul li span:nth-child(1), ul li span:nth-child(3) {
    align-self: stretch;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}