form {
    width: 90%;
    max-width: 300px;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #323232;
    padding: 16px;

}

form label {
    text-align: center;
    font-weight: 700;
}

form textarea {
    padding: 10px;
    max-height: 200px;
    outline-color: #612938;
}

form div {
    display: flex;
    gap: 10px;
}

form div button {
    width: 50%;
    padding: 10px 20px;
    background-color: transparent;
    outline: none;
    border: none;
}

form div button:nth-child(2) {
    background-color: #323232;
    color: #FFFFFF;
}