main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;

  width: 90%;
  max-width: 500px;
  margin: 0 auto;
}

main h2 {
  color: #FFFFFF;
  text-align: center;
  padding: 20px 10px;
}

main input {
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 4px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
}

main button {
  border: none;
  outline: none;
  position: fixed;
  bottom: 32px;
  right: 32px;
  display: block;
  height: 64px;
  width: 64px;
  border-radius: 50%;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
  font-size: 32px;
  font-weight: 700;
  color: #612938;
  transition: transform 1s;
  z-index: 1000;
}

main button:hover {
  transform: rotate(90deg);
}